node_modules/
dist/
.env
.env.local
.env.*.local
logs/
*.log
allure-results/
allure-report/
screenshots/
videos/
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
yarn.lock
*.tmp
*.bak
*.swp
